## First, we extract the data we are interested in

In [26]:
import numpy as np
import pandas as pd
import psycopg2 as pg
from sqlalchemy import create_engine

alchemyEngine = create_engine("postgresql://postgres:postgres@localhost:5432/baseball_db", pool_recycle=3600)
connection = alchemyEngine.connect()
query = """
    SELECT hits > 70 AS hits, homerun > 10 AS homeruns, runsbattedin > 30 AS rbi
    FROM databaseball 
    WHERE position = '1B'
"""

dataframe = pd.read_sql(query, connection)
dataframe.head()

   hits  homeruns   rbi
0  True      True  True
1  True      True  True
2  True      True  True
3  True      True  True
4  True     False  True

## Next, we will generate the itemsets

In [21]:
from mlxtend.frequent_patterns import fpgrowth

itemsets = fpgrowth(dataframe, min_support=0.06, use_colnames=True)
itemsets

ValueError: The allowed values for a DataFrame are True, False, 0, 1. Found value  Anderson.T